# For God so loved the world
# That He gave His only begotten Son
# That all who believe in Him
# Should not perish but have everlasting life

safe-house-aleluya
private-*
erlang-solutions*
*swp
\#.*
*~
